<h3>Join the mailing list</h3>
Get notified of new posts and related content to your inbox. I will never sell
you anything and I will NEVER sell your email address.

<form class="email-form" name="newsletter" method="POST" data-netlify="true" netlify-honeypot="bot-field">
  <div hidden aria-hidden="true">
    <label>
      Don't fill this out if you're human:
      <input name="bot-field" />
    </label>
  </div>
  <label for="email">Your email address</label>
  <div class="email-container">
    <input type="email" name="email" placeholder="Email" id="email" required />
    <button name="submit" class="button" type="submit" id="subscribe">Subscribe</button>
  </div>
</form>